/Bridge_Pattern/Implementation/bridge_pattern/nbproject/private/
/Composite_Pattern/Implementation/composite_pattern/nbproject/private/
/Composite_Pattern/Implementation/composite_pattern/build/
/Adapter_Pattern/Implementation/adapter_pattern/nbproject/private/
/Adapter_Pattern/Implementation/adapter_pattern/build/
/Facade_Pattern/Implementation/facade_pattern/nbproject/private/
